.card{
    width: 300px;
    height:400px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}
@media(min-width: 600px){
    .card{
        width: 200;
        height: 200;
    }
    
}
.card-img-top{
  align-items: center;
}
.Hotel{
    align-content: center;
}
