.card{
    width: 300px;
    height:400px;
    display: flex;
    flex-direction: column;
}
@media(min-width: 600px){
    .card{
        width: 200;
        height: 200;
    }
    
}
.card-img-top{
  align-items: center;
}
.Hotel{
    align-content: center;
}
.custom-form {
    width: 600px; 
    border: 3px solid black; 
    padding: 20px; 
    margin: left; 
  }