
.text-center {
  text-align: center;
}

.content {
  float: left; 
  width: 50%; 
}

.image-container {
  float: right; 
  width: 50%;
  align-items: right; 
}

.img-fluid {
  max-width: 100%;
  height: auto; 
}

.increased-width {
  width: 1000px; 
}



.h3-text-color {
  color: white; 
}

.p-text-color {
  color: lightgoldenrodyellow; 
}
.carousel-dark 
{
  height: 60vh;
}