.footer {
  background-color: #333;
  color: #fff;
  padding: 8px;
  width: 100%; /* Use the full width of the container */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-logo {
  display: flex;
  align-items: center; /* Align items vertically in the middle */
}

.footer-logo img {
  width: 200px;
  height: 100px;
  margin-right: 10px;
}

/* Rest of your styles remain the same */

  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin: 5px ;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
  }
  .social-icons {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    gap: 20px; /* Adjust the spacing between items */
  }
  
  .icon-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  .footer-social h3 {
    margin-bottom: 10px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    padding-top: 50px;
  }
  
  .footer-bottom p {
    margin: 0px;
    font-size: 14px;
  }
  .social-icons img {
    width: 50px;
    height: 40px;
    margin-right: 10px;
  }